.imgbubble.file-attachment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
