<div class="newChatContainer">
  <div class="newChatHeader">
    <div class="newChatLeft hand">
      <img src="./assets/images/arrow-left.png" class="arrowLeft hand" (click)="backScreen()" />
      <p class="newChatHeading">Create Group Chat</p>
    </div>
    <div class="newChatRight hand" (click)="openDialog(content)">
      <img class="goodMark" src="./assets/images/checkmark.png" />
    </div>
  </div>
  <div class="newChatSearchBox">
    <div class="input-group">
      <div class="input-group-prepend">
        <img src="./assets/images/search.png" class="seacrchIcon" />
      </div>
      <input type="text" class="form-control" placeholder="Search" #searchInput />
      <span class="loader" *ngIf="loading"></span>
    </div>
  </div>
  <div class="newGrpChat">
    <p [ngClass]="groupnameError ? 'text-danger' :'cntct'">
      {{groupnameError ? groupnameError :'Select Contacts'}}
    </p>
  </div>
  <div class="newListContainer max-height">
    <ng-container *ngFor="let user of AllUsers">
      <div class="contactListCard hand" (click)="selectContact(user)">
        <div class="contactListCardLeft">
          <img src="./assets/images/user.png" class="ListCardIcon" />
          <p class="ListCardName text-capitalize">{{user.full_name}}</p>
        </div>
        <div class="selectuser contactListCardRight" *ngIf="user['selected']">
          <img src="./assets/images/checkmark-circle.png" class="ListCardButton" />
        </div>
      </div>
    </ng-container>
  </div>
</div>


<ng-template #content let-modal>
  <div class="createChatPopup">
    <div class="chatPopupContent">
      <div class="modalHeader">
        <p class="modalHeading">Create a group chat</p>
        <img src="./assets/images/cross.png" class="modalCross hand" (click)="modal.dismiss('Cross click')" />
      </div>
      <div class="modalContent">
        <form [formGroup]="form" class="w-100" (submit)="addGroup()">
          <p class="modalContentHeading">Name your group chat</p>
          <input type="text" class="form-control" placeholder="ex: Deeper team" formControlName="group_title" />
          <form-errors [control]="form.get('group_title')"></form-errors>
        </form>
      </div>
      <button type="submit" class="btn doneButton mt-3" (click)="addGroup()" [disabled]="loading">
        DONE
      </button>
    </div>
  </div>
</ng-template>